@charset "UTF-8";
body {
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: #151515;
}
@media (max-width: 760px) {
  a {
    color: #fff;
  }
}

.container {
  margin: 0 auto;
  text-align: center;
}

.st-Heding {
  color: #DD1B57;
  font-size: 40px;
}
@media (max-width: 760px) {
  .st-Heding {
    font-size: 32px;
  }
}

/* header-Block */
header {
  height: 90px;
  padding: 2% 6%;
}
@media (max-width: 760px) {
  header {
    height: auto;
    padding: 0;
  }
}
header .header-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* sp-メニューバー */
}
header .header-Container .header-Logo_area {
  max-width: 167px;
  height: auto;
}
@media (max-width: 760px) {
  header .header-Container .header-Logo_area {
    max-width: 107px;
    margin-left: 2%;
  }
}
header .header-Container .header-Logo_area img {
  width: 100%;
  height: auto;
}
@media (max-width: 760px) {
  header .header-Container .header-List_area {
    display: none;
  }
}
header .header-Container .header-List_area ul {
  display: flex;
  justify-content: space-around;
}
header .header-Container .header-List_area ul .menu-Item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  padding: 0 15px;
}
header .header-Container .sp-Menu_toggle {
  display: none;
}
@media (max-width: 760px) {
  header .header-Container .sp-Menu_toggle {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #DD1B57;
    z-index: 100;
  }
}
@media (max-width: 760px) {
  header .header-Container .sp-Menu_toggle span {
    box-sizing: border-box;
    position: absolute;
    right: 19%;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
  }
}
@media (max-width: 760px) {
  header .header-Container .sp-Menu_toggle .bar1 {
    top: 18px;
  }
}
@media (max-width: 760px) {
  header .header-Container .sp-Menu_toggle .bar2 {
    top: 28px;
  }
}
@media (max-width: 760px) {
  header .header-Container .sp-Menu_toggle .bar3 {
    top: 38px;
  }
}

/* header-Block */
/* sp-Menu_block */
.sp-Menu_block {
  display: none;
}
@media (max-width: 760px) {
  .sp-Menu_block {
    display: block;
    background-color: #DD1B57;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 30%;
    width: 100%;
    height: 100%;
    padding-top: 24%;
    transform: translateX(300px);
    opacity: 0;
    transition: all 1s;
  }
}
@media (max-width: 760px) {
  .sp-Menu_block .sp-Menu_nav {
    margin-left: 16%;
  }
}
@media (max-width: 760px) {
  .sp-Menu_block .sp-Menu_nav .sp-Menu_nav_list .sp-Menu_item {
    padding-bottom: 12%;
    text-align: left;
  }
}

/* top-Block */
.top-Block {
  background-image: url(../images/bg_top.png);
  background-size: cover;
  background-position: center center;
}
@media (max-width: 760px) {
  .top-Block {
    background-position-x: 77%;
  }
}
.top-Block .top-Container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 760px) {
  .top-Block .top-Container {
    height: 460px;
  }
}
.top-Block .top-Container .top-Text_box {
  color: #fff;
}
.top-Block .top-Container .top-Text_box h1 {
  font-size: 160px;
  font-weight: bold;
}
@media (max-width: 760px) {
  .top-Block .top-Container .top-Text_box h1 {
    font-size: 80px;
  }
}
.top-Block .top-Container .top-Text_box p {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.1em;
}
@media (max-width: 760px) {
  .top-Block .top-Container .top-Text_box p {
    font-size: 20px;
    line-height: 2;
  }
}

/* top-Block */
/* top-Block */
.news-Block {
  margin-top: 10%;
}
@media (max-width: 760px) {
  .news-Block {
    padding: 0 6%;
  }
}
.news-Block .news-Container {
  max-width: 1100px;
}
.news-Block .news-Container .news-Flex_area {
  display: flex;
}
@media (max-width: 760px) {
  .news-Block .news-Container .news-Flex_area {
    display: block;
  }
}
.news-Block .news-Container .news-Flex_area .news-Title {
  padding-right: 4%;
}
@media (max-width: 760px) {
  .news-Block .news-Container .news-Flex_area .news-Title {
    text-align: justify;
    margin-bottom: 10%;
  }
}
.news-Block .news-Container .news-Flex_area .news-Contents_block {
  max-width: 760px;
}
.news-Block .news-Container .news-Flex_area .news-Contents_block .news-Content {
  display: block;
  margin-bottom: 4%;
  text-align: justify;
}
@media (max-width: 760px) {
  .news-Block .news-Container .news-Flex_area .news-Contents_block .news-Content {
    padding-bottom: 8%;
    border-bottom: 1px solid #EDEDED;
  }
}
.news-Block .news-Container .news-Flex_area .news-Contents_block .news-Content .news {
  display: flex;
  color: #333;
}
@media (max-width: 760px) {
  .news-Block .news-Container .news-Flex_area .news-Contents_block .news-Content .news {
    display: block;
  }
}
.news-Block .news-Container .news-Flex_area .news-Contents_block .news-Content .news time {
  padding-right: 6%;
  font-size: 15px;
  line-height: 1.8;
}

/* top-Block */
/* service-Block */
.service-Block {
  margin-top: 6%;
}
@media (max-width: 760px) {
  .service-Block {
    padding: 0 6%;
    margin-top: 12%;
  }
}
.service-Block .service-Container {
  max-width: 1100px;
}
.service-Block .service-Container .service-Title {
  position: relative;
  margin-bottom: 50px;
  text-align: justify;
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Title {
    margin-bottom: 30px;
  }
}
.service-Block .service-Container .service-Title::before {
  display: block;
  content: "SERVICE";
  position: absolute;
  top: -40px;
  right: -20px;
  z-index: -1;
  font-size: 168px;
  font-weight: bold;
  line-height: 1;
  color: #f2f2f2;
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Title::before {
    font-size: 70px;
    top: 15px;
    right: -30px;
  }
}
.service-Block .service-Container .service-Contents_block {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Contents_block {
    display: block;
    max-width: 335px;
  }
}
.service-Block .service-Container .service-Contents_block .service-Content {
  max-width: 320px;
  padding: 50px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Contents_block .service-Content {
    max-width: 335px;
    margin: 0;
    margin-bottom: 8%;
    padding: 50px 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  }
}
.service-Block .service-Container .service-Contents_block .service-Content .st-Heding_h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 14px;
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Contents_block .service-Content .st-Heding_h3 {
    font-weight: normal;
  }
}
.service-Block .service-Container .service-Contents_block .service-Content p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 15px;
}
@media (max-width: 760px) {
  .service-Block .service-Container .service-Contents_block .service-Content p {
    font-size: 13px;
  }
}

/* service-Block */
.footer-Block {
  height: 164px;
  background-color: #DD1B57;
  color: #fff;
  margin-top: 8%;
}
@media (max-width: 760px) {
  .footer-Block {
    padding: 0 8%;
  }
}
.footer-Block .footer-Container {
  max-width: 1100px;
}
.footer-Block .footer-Container .footer-Menu_nav {
  padding-top: 50px;
}
.footer-Block .footer-Container .footer-Menu_nav ul {
  display: flex;
}
.footer-Block .footer-Container .footer-Menu_nav ul li {
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}
.footer-Block .footer-Container .footer-Menu_nav ul li:first-child {
  padding-left: 0;
}
@media (max-width: 760px) {
  .footer-Block .footer-Container .footer-Menu_nav ul li {
    font-size: 12px;
    font-weight: normal;
  }
}
.footer-Block .footer-Container .copyright {
  padding-top: 20px;
  text-align: justify;
}/*# sourceMappingURL=main.css.map */